<div class="card">
    <div class="card-body">
        <h5 class="card-title">New Server Entry</h5>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="name">Server Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="serverName">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="content">Server Information</label>
                    <input type="text" class="form-control" id="content" [(ngModel)]="serverContent">
                </div>
            </div>
            <div class="col-sm-2 py-auto my-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isCritical" [(ngModel)]="isCritical">
                    <label class="form-check-label" for="isCritical" >Critical Server</label>
                </div>
            </div>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="addNewServer()">Submit</button>

    </div>
</div>